{% extends "index.html" %}
{% set active_page = "About" %}
{% block title %}About{% endblock %}
{% block head %}
  <style>
         .top-content {
           margin-top:100px;
         }

         h1 {
           font-size:3em;
         }


  </style>
{% endblock %}
{% block content %}
     <div class="container">
        <div class="row top-content">
                     <div class="col-md-6 col-md-offset-3 center">
                        <img id="joe" class="img-responsive img-rounded" alt="responsive" src="images/joe-2.JPG">
                        <h1>Joe Holland <span class="hidden-xs hidden-sm">(1987-2014)</span></h1>

                        <p class="lead">This website was built to celebrate the life and work of Joe Holland, beloved brother and son.
                                 Here you will find images and music donated by his family and friends. </p>
                        <p class="lead">
                              You can also find here people's reminiscences of Joe and you can also leave your own
                                 message, should you wish to.
                        </p>
                     </div>
        </div>
     </div>
{% endblock %}