{% extends "index.html" %}
{% set active_page = "Home" %}
{% block title %}Shwing Sounds{% endblock %}
{% block content %}
<div class="jumbotron">
      <div class="container center" id="topContainer">


               <img id="main-image" class="center img-responsive" src="http://gdriv.es/swhh/shwing_logo.png" >

               <p class="lead"><strong>This website is dedicated to Joe Holland, a talented musician and beloved son and brother</strong></p>

      </div>
   </div>
   <div class="container">
     <div class="row">
          <div class="col-md-6 center">
              <h1>Shwing Sounds</h1>
              <p class="lead">Shwing Sounds is the music label that was started by Joe Holland for his music production output.</p>
              <p class="lead">Since his sudden death at the beginning of December 2014 at the age of 27 this site is now the home for his songs, and for memories of a wonderful son, brother and friend.</p>
          </div>
          <div class="col-md-6 center">
               <h1>Listen and contribute</h1>
              <p class="lead">Please stream any of the music and pass on the link to anyone who might appreciate it.</p>
              <p class="lead">Thanks to all of those who have contributed tributes and memories of Joe.  We hope these pages will help to keep alive the spirit, the joy and the love that Joe shared with those who knew him. </p>
          </div>
      </div>
    </div>
{% endblock %}